{% extends 'new.html' %}
{% block title %}About App{% endblock title %}
{% block css %}
rel="stylesheet" href="static/style.css"
{% endblock css %}
{% block body %}
<pre class='lang' >
This app can tell you the if a twitter user is bought or not that's right
Just enter the username of the twitter user and it will check by the model 
and by the help of Ai we will predict if it is human or bot.

Morever this app has a search functionality through which you can find different
stats of the user.Apart from this you can contact us by our form and we will
surely revert back

Apart from that this app will deploy various other bot detection models deployed
on various other websites such as youtube facebook and telegram

Made by:

Amar Shukla Email:19103131@mail.jiit.ac.in
Parikshit Sharma Email:19103317@mail.jiit.ac.in
Devarshi Porwal Email:19103136@mail.jiit.ac.in
</pre>
{% endblock body %}